<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Final</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
  </head>
  <body>
   <header>
     <div id="app">
    <div class="stats">
     <h3 class="stats__title">{{"Actual tasks: "+ tasks.length}}</h3>
    </div>
    <task @task_done="delete_task(index)" :key="index" v-for="(data,index) in tasks" :data="data" ></task>
    <div class="add_task">
     <div class="add_task__input ">
         <input placeholder="Новая задача..." type="text" v-model="new_task.title">
         <textarea placeholder="Описание" type="text" v-model="new_task.desc"></textarea>
     </div>
     <button class="add_task__btn" @click="add_task">Add Task</button>
    </div>
    </div>
   </header>

   <div id="particles-js" class="particles">

   </div>

    <footer>


   </footer>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/particles.js"></script>
<script src="js/main.js"></script>
<script src="js/jsFORtasks.js"></script>
  </body>
</html>
